:root {
  --border-radius: 12px;
  --primary: #007bff;
  --bg-header: #262626;
  --bg-secondary: #F0F0F5;
  --bg-primary: #FFFFFF;
  --text-dark: #737380;
  --text-light: #FFFFFF;
  --shapes-dark: #8f8f8f;
  --text-dark-2: #41414D;
  --shapes: #DCE2E6;
  --secondary-text: #617480;
  --border-color: #A8A8B3;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow: hidden;
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100%;
}

.main-container {
  overflow: hidden;
  background-color: var(--bg-primary);
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  padding: 20px;
  overflow: auto;
}
