:root {
  --border-radius: 12px;

  --main-background-color: #FFFFFF;

  --header-name-color: #FFFFFF;
  --header-background-color: #525659;

  --menu-background-color: #F5F5F5;
  --menu-item-color: #1750A8;

  --card-background-color: #FFFFFF;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.main-container {
  background-color: var(--main-background-color);
  display: flex;
  flex: 1;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  padding: 20px;
}

